<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer{
            display: flex;
            background-color: white;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .links a,.tandc{
            margin: 1rem;
            text-decoration: none;
            color: #2C3A56;
            font-weight: 500;
            font-size: 1.1rem;
        }
        .links a:hover,.tandc:hover{
            text-decoration: underline;
        }
        footer div h3{
            font-size: 2rem;
            font-weight: 700;
        }
        footer div h3 span{
            color: #DE195C;
        }
        footer div p span{
            color: #DE195C;
        }
        @media (max-width:400px){
            .links a,.tandc{
           font-size: 0.9rem;
        }
        footer{
            padding: 0.5rem;
        }
        }
    </style>
</head>
<body>
    <footer>
        <div>
            <h3 class="sheshare"><span>She</span> Share</h3>
            <div class="links">
                <a href="/home">Home</a>
                <a href="/aboutus">About us</a>
                <a href="/newpost">Share a room</a>
                <a href="/posts">Rent a room</a>
                <a href="/contactus">Contact us</a>
            </div>
            <a class="tandc" href="/terms&consition">Terms & Condition</a>
            <p>Copyright <i class="fa-solid fa-copyright"></i> 2024 at Sheshare || Made with <span><i class="fa-solid fa-heart"></i></span> by Ankith Shetty</p>
        </div>
    </footer>
</body>
</html>