<% layout("layouts/boilerplate") %>

<body >
    <h1 class="cardheading">About <span> She </span> Share</h1>
    <div class="aboutus">
    <div class="aboutusimages">
        <div class="left">
            <img src="../images/about1.jpg" alt="">
        </div>
        <div class="right">
            <img src="../images/about2.jpg" alt="">
            <img src="../images/about3.jpg" alt="">
        </div>
    </div>
    <p><span>SheShare</span> is a unique platform designed exclusively for women, providing a safe and supportive space for them to connect and share living accommodations. Our mission at SheShare is to empower women by offering a secure environment where they can find roommates, share their own rooms for rent, and foster meaningful connections.</p>
    <h4>Our <span>Mission</span></h4>
    <p>At SheShare, we're dedicated to creating a community where women feel comfortable and empowered to find roommates and accommodation solutions that meet their needs. We believe that by providing a platform tailored specifically for women, we can promote safety, trust, and inclusivity in the housing market.</p>
    <h4>Our <span>values</span></h4>
    <ul>
        
        <li>Safety First: We prioritize the safety and security of our users above all else. Our platform is designed with robust security measures to ensure a safe experience for everyone.</li>
        <li>Empowerment: We believe in empowering women to take control of their housing decisions. Whether it's finding a roommate or renting out a room, we provide the tools and resources to support our users every step of the way.</li>
        <li>Community: SheShare is more than just a platform—it's a community of like-minded women coming together to support and uplift each other. We encourage open communication, respect, and collaboration among our users.</li>
    </ul>
    <h4>How <span>SheShare</span> Works</h4>
    <p>SheShare offers a simple and intuitive platform where women can create profiles, search for roommates or available rooms, and connect with potential matches. Whether you're looking for a roommate to share expenses or seeking a safe and welcoming place to live, SheShare is here to help you find your perfect match.</p>
    <p>Join SheShare today and be part of a community that celebrates women and promotes safe, supportive living environments for all.</p>
    <form action="/register" method="get">
        <button class="boxbtn">Register Now</button>
    </form>
</div>
</body>