<% layout("layouts/homeboilerplate") %>

<body>
  <div class="intro">
    <h1>Your Safe Haven Awaits at <span>SheShare</span> - Where <span>Women</span> Rent, Share, and Thrive!</h1>
    <h3>Where Every Stay Feels Like Home, Every Connection Feels Like Family!</h3>
    <div class="roombuttons">
      <div>
        <form action="/posts" method="get">
          <button>Rent a room</button>
      </form>
       </div>
        <div>
          <form action="/newpost" method="get">
            <button>Share a room</button>
        </form>
        </div>
    </div>
  </div>
   
</body>