
.menu{
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    position: fixed;
    z-index: 999;
    top: 0;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .menu h4{
   width: max-content;
  padding-top: 2%;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
  }

  .menu h4 span{
    color: #DE195C;
    font-weight: 700;
  }

  .menu li{
    width: max-content;
    list-style: none;
    margin: 1rem;
  }

  .menu li a{
   font-weight: 600;
   font-size: 1.1rem;
    text-decoration: none;
    color: #37383d;
  }

   .navigationlinks{
    display: flex;
  } 

  .authenticationbuttons{
    display: flex;
  } 

  .authenticationbuttons li{
    border: 3px solid#DE195C;
    background-color: transparent;
    font-weight: 600 !important;
    min-width: 120px;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    padding: 7px;
  }

  .authenticationbuttons p{
    font-size: 1.7rem !important;
    margin: 1rem;
    display: none;
  }

  .authenticationbuttons li a{
    color: #DE195C ;
  }

  .authenticationbuttons li:hover{
    background-color: #DE195C ;
    border: none;
    color: white !important;
    transition: 0.5s;
  }

  .authenticationbuttons li a:hover{
    color: white !important;
    text-decoration: none !important;
  }

  .menu li a:hover{
    text-decoration: underline;
    color: #DE195C;
  }

  .sidebar{
    margin-top: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 1s;
    transition: ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }

  .display{
    display: flex;
    flex-direction: column;
  }

  .cross{
    font-size: 2rem !important;
  }

  @media  (max-width:900px) {
    .hide{
      display: none;
    }
    .authenticationbuttons p{
    display: block;
  }

  }
